body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url("header.jpg") no-repeat center center fixed;
  background-size: cover;
}
hr {
  border-color: #10435d;
  border-width: 3px;
  max-width: 65px;
}
.foot {
  position: relative;
  bottom: 31px;
  height: 30px;
}
.buffer {
  height: 9rem;
}
h1 {
  font-size: 2rem;
  color: #7ac8f0;
  text-align: center;
  background: #0b567c;
}
.btn-xl {
  padding: 1rem 2rem;
}
.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #10435d;
  border-color: #041117;
  border-width: 4px;
}
.btn-primary:hover {
  background-color: #19658b;
  border-color: #10435d;
  border-width: 4px;
}
